.head{
	height:400px;
	width:400px;
	border-radius:20px;
}
#p{
	perspective: 1000px;
}
div{
	padding:0;
	margin:0;
}
figure {
    margin: 0;
    padding: 0;
}
.row{
	width:100%;
	margin:0;
}
.side{
	width:50px;
	height:50px;
	display: block;
    position: relative;
    margin:0 auto;
    animation:MoveToRight 4s 1s linear infinite,rotate 1.5s 1s linear infinite; 
}

@keyframes rotate{
	0%{ transform:rotate(0deg); }
    100%{ transform:rotate(360deg); }
}
.flipBox {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;	
    background-color:white;
	border-radius:20px;
	height:402px;
	width:402px;
	border:1px solid;
	margin:0px auto;
}
.pic {
    font-size: 30px;
    text-align: center;
    backface-visibility: hidden;
}
.back {
	position:relative;
	top:-370px;
	line-height:50px;
    transform: rotateY(180deg);
}
.container-sm:hover .flipBox {
 transform: rotateY(-180deg);
}
#title{
	padding-top:20px;
	padding-bottom:20px;
	font-size:46px;
	color:black;
}

.container-sm{
	vertical-align:center;
}
.our{
	background-color:rgb(254,238,238);
	padding:10px 20px;
	box-shadow: 5px 5px 5px #ADADAD;
}
.pngtree{
	color:black;
	text-align: center; 
	display:block;
}
.pngtree:hover{
	text-decoration:none;
}