.container-sm{
	background-color:white;
	font-size:30px;
	border:1px solid;
	padding:30px 0px;
	word-spacing:60px;
}
.title{
	font-size:46px;
	background-color:rgb(254,238,238);
	padding:10px 20px;
	box-shadow: 5px 5px 5px #ADADAD;
}
.uname{
	float:left;
	margin-left:100px;
}
.dropdown-menu{
	position:relative;
	left:-50px;
}
