a:hover{
	text-decoration: none;
}
body{
	font-size:30px;
}
.container-sm{
	font-size:25px;
}
#comment{
	height:280px;
	overflow:auto;
	margin-right:30px;
	margin-left:30px;
}
#point{
	height:280px;
	margin-left:60px;
	border-right:1px solid 	#BEBEBE;
	width:380px;
}
#explain{
	margin-bottom:30px;
	text-align:center;
}
.buy{
	border:0;
	background-color:transparent;
}
.add{
	border:0;
	background-color:transparent;
}
.imgp{
	width:324px;
	height:310px;
	border:2px solid white;
	border-radius:20px;
}
label:hover{
	color:red;
}
input[type="radio"]:checked+label{color:red;}
.send{
	background-color:transparent;
	border-radius:20px;
	position:relative;
	left:10px;
}
#row2{
	background-color:rgb(254,238,238);
	margin:10px 15%;
	box-shadow: 10px 10px 5px #ADADAD;
}
textarea{
	margin-top:10px;
}
.row{
	margin:0;
	width:100%;
}