.container-sm{
	padding:30px 80px;
	font-size:30px;
	margin-top:10px;
	background-color: rgb(254,238,238);
	box-shadow: 10px 10px 5px #ADADAD;
}
.form-group{
	padding:20px 80px;
}
.title{
	margin-left:35%;
	font-size:46px;
}
.row{
	margin:0;
	width:100%;
}