.btnm{
	padding:10px 20px;
}
.btnm:link{
	color:black;
}
.btnm:hover{
	text-decoration:none;
}
.btnm:visited{
	color:black;
}
.container-sm{
	padding:30px 50px;
	font-size:30px;
	line-height:70px;
	word-spacing:20px;
	width:750px;
	background-color: rgb(254,238,238);
	box-shadow: 10px 10px 5px #ADADAD;
	margin-top:20px;
}
.a{
	font-size:46px;
	text-align:center;
}

.ans{
	float:right;
}
.row{
	margin:0;
	width:100%;
}